.btn{
    margin-left: 10px;
}
.list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
    font-size:20px;
}
.list:hover{
    opacity: 0.9;
    border: 1px solid black;
    border-radius: 10px;
}
.close{
    color: brown;
    text-decoration: line-through;
}
.filter{
    display: flex;
    justify-content: center;
    
}
